<div class="div-button">
  <button mat-raised-button color = "warn" (click) = "navigateToComputer()">Computadores</button>
  <button mat-raised-button color="warn" (click) = "navigateToImpressoras()">Impressoras</button>
  <button mat-raised-button color = "warn" (click) = "navigateToMonitores()">Monitores</button>
  <button mat-raised-button color = "warn"(click) = "navigateToEstabilizadores()">Estabilizadores</button>
  <button mat-raised-button color = "warn" (click) = "navigateToSwitchs()">Switchs</button>
</div>

