/* alinhando o icone */
i{
    vertical-align: middle;
}

.footer{
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: end;
    font-weight: 100;
    font-size: 1rem;
    background-color:#343a40;
    color: beige;
}