<mat-card>
    <mat-card-title class="title">Alterar Produto</mat-card-title>
    <form>
        <mat-form-field>
            <input matInput placeholder = "Descrição" 
            [(ngModel)] = "produto.descricao" name = "descricao" >
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder = "Quantidade" 
            [(ngModel)]= "produto.quantidade" name = "quantidade">
        </mat-form-field>
    </form>
    <button mat-raised-button  color="primary"(click)= "produtoUpdate()">Salvar</button>
    <button mat-raised-button (click)="cancel()">Cancelar</button>
</mat-card>

