.header{
    display:flex;
    align-items: center;
    background-color:#343a40;
    color: beige;

}
.header a{
    display: flex;
    align-items: center;
    /* remover a decoração dos links */
    text-decoration: none;
    color:beige;
    
}
.header .logo{
    /* colocando a logo dentro do header */
    max-height: 60px;
    background-color: rgb(0,0,0) transparent;
}
.header .title-group{
    padding-left: 20px;
}
.header .title-group i{
    padding-right: 10px;
}
button{
    background-color: #343a40;;
}

.side-nav{
    background-color:#6610f7;
    width: 200px;
    
  }
  .side-nav a{
      color: white;
  }

  .side-nav i{
      padding-right: 10px;
  }
  .content{
    padding: 16px;
    /* background-color: #222222; */
  }
  .container{
    background-color: #adadad;
    height: 80%;
  }
  mat-form-field{
    background-color: beige;
  }