
  .side-nav{
    background-color:#6610f7;
    width: 200px;
    
  }
  .side-nav a{
      color: white;
  }

  .side-nav i{
      padding-right: 10px;
  }
  .content{
    padding: 16px;
    /* background-color: #222222; */
  }
  .container{
    background-color: #adadad;
    height: 80%;
  }
  mat-form-field{
    background-color: beige;
  }