table{
    width: 100%;
    
}
.edit{
    margin-right: 10px;
}
.edit > i{
    color:#d9cd26;

}
.delete > i{
    color: #e35e6b;
    
}
.delete{
    margin-right: 10px;
}

.loading{
    padding: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.15);
}